<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="shortcut icon" href="/img/logo_refhouse%20(5).png" />
    <!-- Подключаем Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <form th:method="POST" th:action="@{/updateQuery/{id}(id=${query.getId()})}" th:object="${query}" method="post">
        <div class="form-group">
            <label for="queryName">Название отчета:</label>
            <input type="text" th:field="*{queryName}" class="form-control" id="queryName" required/>
            <small class="text-danger" th:if="${#fields.hasErrors('queryName')}" th:errors="*{queryName}">Error</small>
        </div>
        <div class="form-group">
            <label for="queryComment">Комментарий:</label>
            <input type="text" th:field="*{queryComment}" class="form-control" id="queryComment" required/>
            <small class="text-danger" th:if="${#fields.hasErrors('queryComment')}" th:errors="*{queryComment}">Error</small>
        </div>
        <div class="form-group">
            <label for="queryScript">Скрипт:</label>
            <textarea th:field="*{queryScript}" class="form-control" id="queryScript" rows="4" required></textarea>
            <small class="text-danger" th:if="${#fields.hasErrors('queryScript')}" th:errors="*{queryScript}">Error</small>
        </div>
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>

    <form method="post" th:method="DELETE" th:action="@{/deleteQuery/{id}(id=${query.getId()})}" style="display:inline;">
        <button type="submit" class="btn btn-danger">Удалить отчет</button>
    </form>
    <div class="col-md-6">
        <a th:href="@{/Admin.html}" class="btn btn-warning mt-3">Выход</a>
    </div>
</div>

<!-- Подключаем Bootstrap JS и Popper.js -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
