<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="shortcut icon" href="/img/logo_refhouse%20(5).png" />
    <!-- Подключаем Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <form th:method="POST" th:action="@{/updateInfo/{id}(id=${info.getId()})}" th:object="${info}" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="infoName">Название:</label>
            <input type="text" th:field="*{infoName}" class="form-control" id="infoName" required/>
            <small class="text-danger" th:if="${#fields.hasErrors('infoName')}" th:errors="*{infoName}">Error</small>
        </div>
        <div class="form-group">
            <label for="infoText">Описание:</label>
            <textarea th:field="*{infoText}" class="form-control" id="infoText" rows="4" required></textarea>
            <small class="text-danger" th:if="${#fields.hasErrors('infoText')}" th:errors="*{infoText}">Error</small>
        </div>
        <div class="form-group">
            <label for="imageFile">Изображение:</label>
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="imageFile" name="imageFile" accept="image/*">
                <label class="custom-file-label" for="imageFile">Выберите файл</label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>

    <form method="post" th:method="DELETE" th:action="@{/deleteInfo/{id}(id=${info.getId()})}" style="display:inline;">
        <button type="submit" class="btn btn-danger">Удалить описание</button>
    </form>
    <div class="col-md-6">
        <a th:href="@{/Admin.html}" class="btn btn-warning mt-3">Выход</a>
    </div>
</div>

<!-- Подключаем Bootstrap JS и Popper.js -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!-- Скрипт для обновления текста ярлыка после выбора файла -->
<script>
    // Обработчик изменения выбранного файла
    $('.custom-file-input').on('change', function() {
        var fileName = $(this).val().split('\\').pop();
        $(this).next('.custom-file-label').addClass("selected").html(fileName);
    });
</script>
</body>
</html>
