<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Title</title>
    <link rel="shortcut icon" href="/img/logo_refhouse%20(5).png" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />


</head>
<body>
<div class="container mt-4">
    <form th:method="POST" th:action="@{/updateForm/{id}(id=${form.getId()})}" th:object="${form}" method="post">
        <div class="form-group">
            <label for="userFIO" style="font-weight: bold; font-size: 20px;">ФИО клиента:</label>
            <input type="text" th:field="*{userFIO}" class="form-control" id="userFIO" required/>
            <small class="text-danger" th:if="${#fields.hasErrors('userFIO')}" th:errors="*{userFIO}">Error</small>
        </div>
        <br>
        <div class="form-group">
            <label for="phoneNumber" style="font-weight: bold; font-size: 20px;">Телефонный номер:</label>
            <input type="text" th:field="*{phoneNumber}" class="form-control" id="phoneNumber" required/>
            <small class="text-danger" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">Error</small>
        </div>
        <br>
        <div class="form-group">
            <label for="email" style="font-weight: bold; font-size: 20px;">Почта:</label>
            <input type="text" th:field="*{email}" class="form-control" id="email" required/>
            <small class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Error</small>
        </div>
        <br>
        <div class="form-group">
            <label for="userComment" style="font-weight: bold; font-size: 20px;">Комментарий к заказу:</label>
            <textarea th:field="*{userComment}" class="form-control" id="userComment" rows="4" required readonly></textarea>
            <small class="text-danger" th:if="${#fields.hasErrors('userComment')}" th:errors="*{userComment}">Error</small>
        </div>
        <br>
        <div th:if="${form.calculator != null} and ${form.calculator.id} != null"  class="form-group">
            <label for="projectInfo" style="font-weight: bold; font-size: 20px;">Описание проекта:</label>
            <input th:utext="${projectDescription}" class="form-control" id="projectInfo" hidden="hidden" required readonly>
        </div>
        <div th:if="${form.calculator != null} and ${form.calculator.id} != null"  class="form-group">
            <label for="calculatorSum" style="font-weight: bold; font-size: 20px;">Сумма по калькулятору:</label>
            <input th:field="*{calculator.totalCost}" class="form-control" id="calculatorSum" required readonly>
        </div>
        <br>
        <div th:if="${form.calculator != null} and ${form.calculator.id} != null"  class="form-group">
            <label for="calculatorQ" style="font-weight: bold; font-size: 20px;">Площадь по калькулятору:</label>
            <input th:field="*{calculator.totalArea}" class="form-control" id="calculatorQ" required readonly>
        </div>
        <br>
        <div class="form-group">
            <label for="workerComment" style="font-weight: bold; font-size: 20px;">Комментарий сотрудника:</label>
            <textarea th:field="*{workerComment}" class="form-control" id="workerComment" rows="4" required></textarea>
            <small class="text-danger" th:if="${#fields.hasErrors('workerComment')}" th:errors="*{workerComment}">Error</small>
        </div>
        <br>
        <div class="form-group">
            <label for="status.id" style="font-weight: bold; font-size: 20px;">Выберите статус:</label>
            <select th:field="*{status.id}" class="form-control" id="status.id">
                <option value="" th:text="'- Пусто -'"></option>
                <option th:each="statuses : ${status}" th:value="${statuses.id}" th:text="${statuses.statusName}"></option>
            </select>
        </div>
        <br>
        <div class="form-group">
            <label for="project.id" style="font-weight: bold; font-size: 20px;">Выберите проект:</label>
            <select th:field="*{project.id}" class="form-control" id="project.id">
                <option value="" th:text="'- Пусто -'"></option>
                <option th:each="projects : ${project}" th:value="${projects.id}" th:text="${projects.projectName}"></option>
            </select>
        </div>
        <br>
        <div class="form-group">
            <label for="region.id" style="font-weight: bold; font-size: 20px;">Выберите регион:</label>
            <select th:field="*{region.id}" class="form-control" id="region.id">
                <option value="" th:text="'- Пусто -'"></option>
                <option th:each="regions : ${region}" th:value="${regions.id}" th:text="${regions.regionName}"></option>
            </select>
        </div>
        <br>
        <div class="form-group">
            <label for="projectCost" style="font-weight: bold; font-size: 20px;">Стоимость проекта:</label>
            <input type="number" th:field="*{projectCost}" class="form-control" id="projectCost" required/>
            <small class="text-danger" th:if="${#fields.hasErrors('projectCost')}" th:errors="*{projectCost}">Error</small>
        </div>
        <br>
        <div class="form-group">
            <label for="projectIncome" style="font-weight: bold; font-size: 20px;">Доход за привлечение:</label>
            <input type="number" th:field="*{projectIncome}" class="form-control" id="projectIncome" required/>
            <small class="text-danger" th:if="${#fields.hasErrors('projectIncome')}" th:errors="*{projectIncome}">Error</small>
        </div>
        <br>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Сохранить">
        </div>
    </form>

    <div class="col-md-6">
        <a th:href="@{/Admin.html}" class="btn btn-warning mt-3">Выход</a>
    </div>
</div>

<!-- Bootstrap JS и зависимости jQuery и Popper.js -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
<script>
    $(document).ready(function() {
        $('#region\\.id').select2({
            placeholder: "- Пусто -", // Замени на свой текст по умолчанию
            allowClear: true // Разрешить очистку выбора
        });
    });
</script>
</body>
</html>
