<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="shortcut icon" href="/img/logo_refhouse%20(5).png" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <!-- DataTables JS -->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js"></script>
</head>
<body>
<div class="container mt-4" style="margin-left: 10%;">
    <h1 class="text-center">Результаты запроса</h1>
    <div class="text-center">
        <table id="queryTable" class="table table-bordered">
            <thead>
            <tr>
                <!-- Заголовки таблицы, используя имена столбцов из результата запроса -->
                <th th:each="executes : ${queryResults[0].keySet()}" th:text="${executes}"></th>
            </tr>
            </thead>
            <tbody>
            <!-- Итерация по строкам результата запроса -->
            <tr th:each="row : ${queryResults}">
                <!-- Итерация по столбцам каждой строки -->
                <td th:each="entry : ${row.entrySet()}">
                    <!-- Вывод только значения столбца -->
                    <span th:text="${entry.getValue()}"></span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
<div class="col-md-6">
    <a th:href="@{/Admin.html}" class="btn btn-warning mt-3">Выход</a>
</div>
<!-- Bootstrap JS и DataTables initialization script -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        $('#queryTable').DataTable();
    });
</script>
</body>
</html>
